<mat-card [@dealCard]="cardState" class="card" (click)="flipCard()">
  <mat-card-content>
    <div class="card-container">
      <div class="card" [ngClass]="flipState">
        <!-- Front side of the card -->
        <div class="front">
          <img [src]="card.imageUrl" alt="{{ card.rank }} of {{ card.suit }}" class="card-image" />
        </div>

        <!-- Back side of the card -->
        <div class="back">
          <img src="/images/CB.png" alt="Card Back" class="card-image" />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
