<mat-toolbar>
<span>Card Deck Manager</span>
</mat-toolbar>

<!-- Grabs the number of cards a player wants dealt -->
<div class="centered-content">
  <h1>
    How many cards would you like me to deal?
  </h1>

  <mat-form-field appearance="fill">
    <input matInput [(ngModel)]="numCards" placeholder="Number of cards you want dealt">
  </mat-form-field>
</div>

<!-- The buttons the user will utilize -->
<div class="actions">
  <button mat-raised-button color="accent" (click)="shuffleDeck()">Shuffle Deck</button>
  <button mat-raised-button color="primary" (click)="dealCards()">Deal Cards</button>
  <button mat-raised-button (click)="resetDeck()">Reset Deck</button>
  <button mat-raised-button (click)="viewHistory()">View Dealt Cards History</button>

</div>

<!-- displays the cards which have been dealt -->
<div class="card-display">
  <app-card *ngFor="let card of dealtCards" [card]="card"></app-card>
</div>

<app-deck></app-deck>
